@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background: url(img/bg-pattern-top-mobile.svg) fixed no-repeat top left;
}
.page{
    margin: 40px 40px;
    text-align: center;
}


.txt{
    margin: auto;
}
.txt_rating_flex{
    flex-direction: column;
    
}

.rating_flex{
    display: flex;
    background-color:hsl(333, 80%, 67%);
    border-radius: 6px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.card_flex{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 355px;
  
    

   
}

.rating_flex:nth-child(2){
    margin-left: 0px;
}
.rating_flex:nth-child(3){
    margin-left: 0px;
    
}
.card:nth-child(2){
    align-self: flex-end;
    
}
.card:nth-child(3){
    align-self: flex-end;
    
}
.card:nth-child(1){
    align-self: flex-end;
   
    
}
.card{
    margin-bottom: 16px;
    height: 444px;
    width: 80%;
    padding-left: 30px;
    padding-right: 50px;
    
    
    
}
.card_top_flex{
    margin-bottom: 22px;
}
p h1 h2  h4 h5 {
    text-align: center;
}
h3{
    font-size: 14px;
}



.card img{
    border-radius: 50%;
    height: 49px;
    margin: auto;
}

.bottom_container{
   
    margin-top: 55px;
}

.txt_rating_flex h1{
    color: hsl(300, 43%, 22%);
}
,h3,p
.txt_rating_flex h1{
    color: hsl(300, 43%, 22%);
}
.txt_rating_flex p{
    color: hsl(300, 43%, 22%);
}